@model MovieStore.Core.Models.Request.PurchaseRequestModel
    <h1>Congratulation! you have sucessfully purchased this movie</h1>
    
<h2>Now you can:</h2>
<a class="nav-link text-dark" asp-controller="User" asp-action="Purchases">View All Purchases</a>
<a class="nav-link text-dark" asp-controller="Home" asp-action="index">check out more movie</a>
