@{ 
    ViewData["title"]="Create";
}
<h1>Create Movies</h1>
<form method="post">
    Title: <input type="text"value=""name="title"id="" class=""/> <br />
    Budget: <input type="text" value=""name="budget"id=""class=""/> <br />
    //info with name and value 
    <input type="submit" value="Save Movie" />
</form>